<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>856216567897-pgapc8todqm5kc8ev6m41detd91d9f14.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrEHEt2MmRTzkvr_YV0sYqZzcLeJ-snkE</string>
	<key>GCM_SENDER_ID</key>
	<string>856216567897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expenseTracking</string>
	<key>PROJECT_ID</key>
	<string>fir-2307c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-2307c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856216567897:ios:6c3568bffa15e90bed7148</string>
	<key>DATABASE_URL</key>
	<string>https://fir-2307c-default-rtdb.firebaseio.com</string>
</dict>
</plist>